/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        ctrl {
            bindings = <&kp LEFT_CONTROL>;
            key-positions = <33 32>;
        };

        gui {
            bindings = <&kp LEFT_GUI>;
            key-positions = <30 31>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };
        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };
        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };
        
        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };
        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };
        
        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };
        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };
        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };
        
        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };
        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };
        
        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };

        test {
            bindings = <&kp T>;
            key-positions = <24>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // This is a sample keymap intended to be replaced with your own

        base_layer {
            bindings = <
&kp ESC   &kp TAB  &kp CAPS  &kp P  &kp Y                                         &kp F               &kp G  &kp C  &kp R  &kp L
&kp A     &kp O    &kp E     &kp U  &kp I                                         &kp D               &kp H  &kp T  &kp N  &kp S
&kp SEMI  &kp Q    &kp J     &kp K  &kp X                                         &kp B               &kp M  &kp W  &kp V  &kp Z
                                    &mt LEFT_SHIFT SPACE  &mo 0    &kp BACKSPACE  &mt LEFT_ALT ENTER
            >;
        };

        fKeys {
            bindings = <
&kp F1   &kp F2   &kp F3   &kp F4   &kp F5                     &kp F6   &kp F7   &kp F8   &kp F9   &kp F10
&kp F11  &kp F12  &kp F13  &kp F14  &kp F15                    &kp F16  &kp F17  &kp F18  &kp F19  &kp F20
&kp F21  &kp F22  &kp F23  &kp F24  &trans                     &trans   &trans   &trans   &trans   &trans
                                    &trans   &trans    &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &kp C_VOLUME_DOWN  &kp C_PLAY_PAUSE  &kp C_VOLUME_UP  &trans                    &trans  &trans    &trans          &trans     &trans
&trans  &trans             &trans            &trans           &trans                    &trans  &kp LEFT  &kp UP_ARROW    &kp RIGHT  &kp PAGE_UP
&trans  &trans             &trans            &trans           &trans                    &trans  &trans    &kp DOWN_ARROW  &trans     &kp PAGE_DOWN
                                                              &trans  &trans    &trans  &trans
            >;
        };
    };
};
